#main-view {
    padding-top: 90px;
    text-align: center;
}

.avatar {
    display: inline-block;
    margin: 0 1.5em;
}

.field-error { border: 2px solid red}

.signup-submit { margin-left: 1.5em; }

.log-in label { margin-bottom: 0.8em; }
.log-in input {margin-bottom: 1em;}

.users-component { text-align: center}

.float-right { float: right; }